</br>
</br>
</br>

<div class="order-details">
	<strong>Your Heard:</strong> </br>
	<% if not @negotiation.customers.nil? %> 
		<% @negotiation.customers.split(",").map{ |s| s.to_i}.each do |c_id| %>
		<% c = User.find(c_id) %>
		<%= c.name %></br>
		<% end %>
	<% end %><br>

	<%= @negotiation.order_from %> </br>
	<%= @negotiation.food_items %> </br>
	<%= @negotiation.rendezvous_point %> </br></br>
</div></br>

<div>
	<%= link_to 'Leave', negotiation_leave_path(id: @negotiation.id)%>
</div>

<div class="group-chat">
	Group Chat </br>
	<div class="messages">
		<%= render partial: 'message_row' %>
	</div>

	<div class="message-textbox">
		<%= render partial: 'message_form' %>
	</div>

	
</div>